*
{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/***********
.navbar-list li
{
    display:inline-block;
    margin-left: 3em;
}
.navbar-list li a
{
    padding: 0px 30px;
}
.navbar-list li a img
{
    width: 5em;
    height: 5em;
}
.navbar-list a i
{
    font-size:1.6em;
}
*************/
 #videoBackground
{
    width: 100%;
    height: auto;
}
.diwali-greetings
{
    position: relative;
    background-image: linear-gradient(to right,#b92b27,#003973);
    font-size: 2.5em;
    z-index: 1000;
}
.diwali-greetings img:nth-child(1)
{
    width: 100%;
    opacity: 0.6;
    
}
.diwali-greeting img:nth-child(2)
{
    position: absolute;
    top: 5%;
    left: 50%;
}
.diwali-greetings p
{
    left: 10%;
    right: 10%;
    top: 30%;
    font-family: baskerville old face;
    color: white;
    text-align: center;
    position: absolute;
}